/* # Front-end Style Guide


### Font

- Weights: 400, 700 */

/****** Propriétés CSS globales ***********/
:root {
  --White: hsl(0, 0%, 100%);
  --Gray: hsl(212, 45%, 89%);
  --Grayish: hsl(220, 15%, 55%);
  --Blue: hsl(218, 44%, 22%);
}

.qr-container {

}

.qr-code {

}

h1 {
font-weight: 700;
}

p {
font-size: 0.9rem;
font-weight: 400;
}

.footer {
  font-size: 0.68rem;
  text-align: center;
}
.footer a {
  color: var(--Blue);
}

/****** Media queries ***********/

/********** Medium devices (tablets, less/equal than 1024px) *********/

@media screen and (max-width: 768px) {
}